*{
	margin: 0;
	padding: 0;
}

.container ul li{
	list-style: none;
}

.container{
	width: 70%;
	max-width: 800px;
	margin: 0 auto;
}
.container .slides{
	height: 350px;
	overflow: hidden;
}

.container img{
	width: 100%;
	/* height: 350px; */
}

.buttons{
	text-align: center;
}
.buttons span{
	font-size: 40px;
	margin: 0 40px;
	cursor: pointer;
}
.slider-dots{
	text-align: center;
	margin: 20px 0;
}
.slider-dots_item{
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: #ddd;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 3px;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}